* @InferenceMAX/core

# AMD master config
.github/configs/amd-master.yaml @billishyahao @chunfangamd

# NVIDIA master config
.github/configs/nvidia-master.yaml @ankursingh-nv @kedarpotdar-nv @jgangani
